.caja{
	background-color: white;
	border: 2px solid #ff6c00;
	width: 200px;
	padding: 10px 0px 10px 0px;
	margin-top:0px;
}
.caja2{
	background-color: white;
	border: 2px solid #ff6c00;
	width: 200px;
	padding: 10px 0px 10px 0px;
	margin-top:0px;
}
.caja3{
	background-color: white;
	border: 2px solid #ff6c00;
	width: 200px;
	padding: 10px 0px 10px 0px;
	margin-top:0px;
}